$card-font-size: 23px;

/* START: CREDIT CARD AND TRANSACTION WRAPPER */
.card-txn-wrapper {
  display: flex;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 17px rgb(0 0 0 / 35%);
}

.wallet {
  padding: 30px 50px;
  background-color: #f2f2f2;
}

.transactions-wrapper {
  flex: 1;
  margin-left: 40px;
  padding: 20px;
}

/* END: CREDIT CARD AND TRANSACTION WRAPPER */

.credit-card-container {
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 14px;
  /* width: 400px; */
  text-align: right;
  cursor: pointer;
}
