$card-font-size: 23px;

/* START: CREDIT CARD AND TRANSACTION WRAPPER */
.card-txn-wrapper {
  display: flex;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 17px rgb(0 0 0 / 35%);
}

.wallet {
  padding: 30px 50px;
  background-color: #f2f2f2;
}

.transactions-wrapper {
  flex: 1;
  margin-left: 40px;
  padding: 20px;
}

/* END: CREDIT CARD AND TRANSACTION WRAPPER */

/* START: TRANSACTION VIEW */

.current-balance,
.transactions-list-view {
  padding: 10px;
}

.current-balance,
.transactions-list-view li {
  display: flex;
  align-items: center;
}

.current-balance .balance-text {
  font-size: 24px;
  font-weight: 600;
}

.transactions-list-view li {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

.balance-text,
.transaction-description {
  flex: 1;
  margin-right: 20px;
}

.transaction-description > h6 {
  font-size: 14px;
  margin-bottom: 6px;
}

.transaction-description > p {
  font-size: 12px;
}

/* END: TRANSACTION VIEW */

/* START: CREDIT CARD STYLES */
.credit-card-container {
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 14px;
  /* width: 400px; */
  text-align: right;
  cursor: pointer;
}

.credit-card {
  width: 400px;
  height: 250px;
  text-align: left;
  margin-bottom: 1em;
}

.flip {
  width: inherit;
  height: inherit;
}

.front {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 15px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.3);
  backface-visibility: hidden;
  background-image: linear-gradient(to right, #111, #555);
  overflow: hidden;
}

.front {
  transform: translateZ(0);
}

.strip-bottom,
.strip-top {
  position: absolute;
  right: 0;
  height: inherit;
  background-image: linear-gradient(to bottom, #ff6767, #ff4545);
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
}

.strip-bottom {
  width: 200px;
  transform: skewX(-15deg) translateX(50px);
}

.strip-top {
  width: 180px;
  transform: skewX(20deg) translateX(50px);
}

.logo {
  position: absolute;
  top: 30px;
  right: 25px;
}

.investor {
  position: relative;
  top: 30px;
  left: 25px;
  text-transform: uppercase;
}

.chip {
  position: relative;
  top: 60px;
  left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 40px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom left, #ffecc7, #d0b978);
  overflow: hidden;

  .chip-line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #333;
  }

  .chip-line:nth-child(1) {
    top: 13px;
  }

  .chip-line:nth-child(2) {
    top: 20px;
  }

  .chip-line:nth-child(3) {
    top: 28px;
  }

  .chip-line:nth-child(4) {
    left: 25px;
    width: 1px;
    height: 50px;
  }

  .chip-main {
    width: 20px;
    height: 25px;
    border: 1px solid #333;
    border-radius: 3px;
    background-image: linear-gradient(to bottom left, #efdbab, #e1cb94);
    z-index: 1;
  }
}

.wave {
  position: relative;
  top: 20px;
  left: 100px;
}

.card-number {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 25px 15px;
  font-size: 23px;
  font-family: "cc font", monospace;
}

.end {
  margin-left: 25px;
  text-transform: uppercase;
  font-family: "cc font", monospace;

  .end-text {
    font-size: 9px;
    color: rgba(255, 255, 255, 0.8);
  }
}

.card-holder {
  margin: 10px 25px;
  text-transform: uppercase;
  font-family: "cc font", monospace;
}

.card-logo {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 36px;
}

.card-logo-image {
  width: 100%;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.master-card-logo {
  background-image: url(https://www.mastercard.ca/content/dam/public/mastercardcom/mea/za/logos/mc-logo-52.svg);
}

.visa-card-logo {
  background-image: url(https://cdn.visa.com/v2/assets/images/logos/visa/blue/logo.png);
}

/* END: CREDIT CARD STYLES */
